.gasAndDrivingExample-caption {
  position: absolute;
  font: bold 11px serif;
  line-height: 1em;
  text-align: center;
  background: white;
}

.gasAndDrivingExample-caption p {
  font: 10px sans-serif;
  line-height: 1.1em;
}