.actionbar {
    width: 100%;
    height: 93px;
    background-color: rgb(218, 229, 243);
    border-bottom: 1px solid rgb(104, 140, 175);
    padding: 0px;
}

.actionbar-panelcontainer {
    height: 57px;
    background-color: rgb(218, 229, 243);
}

/**
 * Title area
 */

.actionbar-titleArea {
    height: 35px;
    padding: 2px;
    padding-left: 6px;
}

.actionbar-titleArea-text {
	width: 300px;
    color: rgb(112, 106, 170);
    font-size: 21px;
    border: 1px solid rgb(218, 229, 243);
    background-color: rgb(218, 229, 243);
}

.actionbar-titleArea-text:hover {
    background-color: rgb(255, 255, 225);
    border: solid 1px rgb(104, 140, 175);
}

.actionbar-titleArea-text:focus {
    border: solid 1px #E7B076;
    background-color: rgb(255, 255, 225);
}

.actionbar-titleArea-text:active {
    border: solid 1px #E7B076;
    background-color: rgb(255, 255, 225);
}
 
/** 
 * Panel
 */

.actionbar-panel {
    background-color: rgb(214, 230, 244);
    border-top: 1px solid rgb(193, 217, 241);
    padding: 0px;	
    height: 57px;
}

.actionbar-panel-header {
	border-right: 1px solid rgb(164, 195, 235);
    background-color: rgb(193, 217, 241);
    padding: 2px;
    color: rgb(112, 106, 170);
    text-align: center;
}

.actionbar-panel-content {
	border-right: 1px solid rgb(193, 217, 241);
    background-color: rgb(214, 230, 244);
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    height: 30px;
}

/** 
 * Button
 */

div.actionbar-panel-content button {
    font-size: 13px;
    background: none;
    height: 26px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(218, 229, 243);
    color: rgb(112, 106, 170);
    border:solid 1px rgb(164, 195, 235);
}

div.actionbar-panel-content button:hover {
	background-color: rgb(193, 217, 241);
	border: solid 1px rgb(104, 140, 175);
}

div.actionbar-panel-content button:focus {
    border: solid 1px #E7B076;
}

div.actionbar-panel-content button:active {
    background-color: rgb(214, 230, 244);
    border: solid 1px #E7B076;
}

div.actionbar-panel-content button[disabled] {
	color: rgb(193, 217, 241);
	background-color: rgb(214, 230, 244);
	border: 1px solid rgb(193, 217, 241);
}

div.actionbar-panel-content button[disabled]:hover {
    color: rgb(193, 217, 241);
    background-color: rgb(214, 230, 244);
    border: 1px solid rgb(193, 217, 241);
}


/** 
 * Text Box
 */
div.actionbar-panel-content input[type="text"] {
    background-color: #FFFFFF; /* #EBF1F9; */
    color: rgb(112, 106, 170);
    border:solid 1px rgb(164, 195, 235);
    font-size: 13px;
    height: 26px;
    padding-top: 5px; /** padding is slightly different from button to make up
    for different font baseline positioning */ 
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

div.actionbar-panel-content input[type="text"]:hover {
    background-color: rgb(255, 255, 225);
    border: solid 1px rgb(104, 140, 175);
}

div.actionbar-panel-content input[type="text"]:focus {
    border: solid 1px #E7B076;
    background-color: rgb(255, 255, 225);
}

div.actionbar-panel-content input[type="text"]:active {
    border: solid 1px #E7B076;
    background-color: rgb(255, 255, 225);
}
 