<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!-- DEACTIVATED SERVICES (WE USE FLASH PROXY)
  
  <servlet>
    <servlet-name>ncbo_mapping</servlet-name>
    <servlet-class>org.thechiselgroup.choosel.server.domain.ncbo.NCBOMappingNeighbourhoodServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ncbo_mapping</servlet-name>
    <url-pattern>/org_thechiselgroup_biomixer/ncbo_mapping</url-pattern>
  </servlet-mapping>  

  <servlet>
    <servlet-name>ncbo_concept_search</servlet-name>
    <servlet-class>org.thechiselgroup.choosel.server.domain.ncbo.NCBOConceptSearchServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ncbo_concept_search</servlet-name>
    <url-pattern>/org_thechiselgroup_biomixer/ncbo_concept_search</url-pattern>
  </servlet-mapping>  

  <servlet>
    <servlet-name>ncbo_concept_neighbourhood</servlet-name>
    <servlet-class>org.thechiselgroup.choosel.server.domain.ncbo.NCBOConceptNeighbourhoodServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ncbo_concept_neighbourhood</servlet-name>
    <url-pattern>/org_thechiselgroup_biomixer/ncbo_concept_neighbourhood</url-pattern>
  </servlet-mapping>
  -->
  
  <!-- CHOOSEL SERVICES -->
  
  <servlet>
    <servlet-name>authentication</servlet-name>
    <servlet-class>org.thechiselgroup.choosel.server.authentication.AuthenticationServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authentication</servlet-name>
    <url-pattern>/org_thechiselgroup_biomixer/authentication</url-pattern>
  </servlet-mapping>  

  <servlet>
    <servlet-name>feedback</servlet-name>
    <servlet-class>org.thechiselgroup.choosel.server.feedback.FeedbackServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedback</servlet-name>
    <url-pattern>/org_thechiselgroup_biomixer/feedback</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>workspace</servlet-name>
    <servlet-class>org.thechiselgroup.choosel.server.workspace.WorkspacePersistenceServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>workspace</servlet-name>
    <url-pattern>/org_thechiselgroup_biomixer/workspace</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>workspace-sharing</servlet-name>
    <servlet-class>org.thechiselgroup.choosel.server.workspace.WorkspaceSharingServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>workspace-sharing</servlet-name>
    <url-pattern>/org_thechiselgroup_biomixer/workspace-sharing</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>acceptInvitation</servlet-name>
    <servlet-class>org.thechiselgroup.choosel.server.workspace.AcceptInvitationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acceptInvitation</servlet-name>
    <url-pattern>/acceptInvitation</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>remoteLoggerServiceImpl</servlet-name>
    <servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remoteLoggerServiceImpl</servlet-name>
    <url-pattern>/org_thechiselgroup_biomixer/gwt-log</url-pattern>
  </servlet-mapping>
 
</web-app>
